.features {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    margin: 0;

    font-size: 56px;
    font-weight: 700;
    font-style: bold;
    line-height: 70px;
  }

  &__slider {
    display: none;
  }

  &__image {
    position: absolute;
    right: 46px;
    bottom: 1px;

    width: 543px;
    height: auto;
  }

  &__container {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-sizing: border-box;
    padding-bottom: 60px;
    padding-left: 102px;

    background-color: $bg-blue;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
  }

  &__name {
    margin: 0;
    font-size: 34px;
    font-weight: 700;
    color: $text-blue;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 0;
    padding: 0;
    padding-left: 20px;

    font-size: 16px;
    font-weight: 400;
  }

  @media (max-width: 1279px) and (min-width: 640px) {
    &__title {
      font-size: 30px;
    }

    &__name {
      font-size: 18px;
    }

    &__list {
      font-size: 14px;
    }

    &__container {
      padding-bottom: 50px;
      padding-left: 90px;
    }

    &__item {
      display: none;

      &--visible {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }
    }

    &__slider {
      position: relative;
      z-index: 1;

      display: block;
      align-self: center;

      padding-top: 50px;
      padding-bottom: 123px;
    }

    &__image {
      position: absolute;
      right: 20px;
      bottom: 1px;

      width: 400px;
      height: auto;
    }
  }

  @media (max-width: 639px) {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 16px;
    }

    &__title {
      font-size: 30px;
    }

    &__name {
      font-size: 18px;
    }

    &__list {
      font-size: 14px;
    }

    &__item {
      display: none;
      padding-top: 30px;

      &--visible {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;

      width: 100%;
    }

    &__slider {
      position: relative;
      z-index: 1;
      display: block;
      margin: 0 auto;
    }

    &__image {
      position: relative;

      display: block;

      max-width: 80%;
      height: auto;
      margin: 0 auto;
      transform: translateX(20px);
    }
  }
}
