$c-gray: #eee;
$bg-color: #f9f9f9;
$text-color-main: #333;
$text-color-hover: #131313;
$text-gray: #7c7c7c;
$button-color-disabled: #d0d0d0;
$blue-color: #0db2b3;
$light-blue-color: #cfeff0;
$bg-blue: #d6ecec;
$text-blue: #0c797a;
$border-color: #828282;
$placeholder-color: #bdbdbd;
$text-secondary-color: #4f4f4f;
